.app-body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.app-container {
  display: flex;
  width: 1024px;
  height: 100%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 20px;
}

/* .home-left-body {
  border: 3px dotted orange;
  flex: 0.7;
} */

/* stats */
/* .home-right-panel {
  flex-direction: column;
  flex: 1;
  background-color: aquamarine;
  border-radius: 5px;
  border: 1px solid #42494d;
} */
