/* add/remove stock css --------------------------------------------------- */

.watch-add-stock-container {
  width: 400px;
  padding: 30px 50px 50px 50px;
}

.watch-add-stock-header {
  display: flex;
  justify-content: space-between;
}

.watch-create-form-div {
  display: flex;
  flex-direction: column;
}

.watch-add-to-watchlist-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.watch-add-list-icon {
  margin: 0px 20px 0px 38px;
  color: var(--rhood-green);
  border: 1px solid #00c80701;
  background-color: #00c80729;
  border-radius: 5px;
  font-size: 30px;
  padding: 15px 10px 15px 10px;
}

.watch-add-list-text {
  padding-bottom: 5px;
  font-size: 20px;
}

.watchlist-add-form-div {
  display: flex;
  padding: 20px 0px;
}

.watchlist-add-to-icon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
  padding: 14px 15px;
  background-color: var(--global-icon-bg-color);
  border-radius: 5px;
}

.watchlist-icon-div {
  width: 15%;
}

.watchlist-add-input {
  border-top: 1px solid gray;
  background-color: rgba(211, 211, 211, 0.566);
  padding: 2px 15px;
  width: 95%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 25px;
  text-align: left;
}

.watchlist-add-input:hover {
  background-color: white;
}

/* watchlist outside add stock modal form --------------- */

.watchlist-save-changes {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  border-radius: 20px;
  color: white;
  background-color: green;
  cursor: pointer;
}

.watchlist-save-changes:hover {
  filter: grayscale(20%);
}

.watchlist-save-changes:disabled {
  /* filter: grayscale(20%); */
  cursor: not-allowed;
}

.watch-modal-card-div {
  display: flex;
  padding-top: 13px;
  overflow: auto;
}

.watch-modal-label {
  display: flex;
}

.watch-modal-checkbox-div {
  display: flex;
  align-items: center;
}

.watch-modal-checkbox {
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:checked {
  color: white;
  accent-color: var(--rhood-green);
}

.watch-modal-img-div {
  /* border: var(--global-border); */
  padding: 15px 10px 15px 10px;
  margin-left: 10px;
  background-color: rgba(211, 211, 211, 0.656);
  border-radius: 5px;
}

.watch-modal-display-icon {
  width: 30px;
  height: 30px;
}

.watch-modal-box-label-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.disable {
  background-color: rgba(211, 211, 211, 0.571);
  color: gray;
}

.watchlist-modal-display-div {
  max-height: 400px;
  overflow-y: auto;
}

.watchlist-modal-display-div::-webkit-scrollbar {
  display: none;
}
