.watchlists {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
}

.watchlist-container {
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.watchlist-header {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 20px 20px 10px 20px;
  font-weight: 800;
}

.watchlist__content {
  font-size: 13px;
}

.watchlist-row {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
  align-items: center;
  border: 1px solid lightgrey;
}

.watchlist-name {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 15px;
  align-items: center;
  font-weight: 600;
}

.watchlists-button-container {
  display: flex;
  align-items: center;
}

.watchlist-lists {
  height: 52px;
  border-top: 1px solid #42494d;
  padding: 4px 20px 0px 20px;
}

.list-name-box {
  border: 1px solid green;
}

.watchlist-header-listname {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 20px 20px 10px 20px;
  font-weight: 500;
}

.add-list-button {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: x-large;
}

.add-list-button:hover {
  background-color: lightgrey;
}

.watchlist-buttons-container {
  /* border: var(--global-border); */
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Investment Card ---------------------------------------- */

.inv-list {
  padding: 10px 20px 10px 20px;
}

.inv-card {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

/* Dropdown styling options ---------------------------------------- */

.watchlist-drop-options {
  /* border: var(--global-border); */
  position: absolute;
  width: 200px;
  height: 90px;
  right: 70px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
}

.watchlist-drop-div {
  /* border: var(--global-border); */
  display: flex;
  align-items: center;
  margin: 10px 10px;
  height: 30px;
  border-radius: 5px;
}

.watchlist-drop-div:hover {
  background-color: grey;
}

.watchlist-drop-icon {
  padding: 5px 8px 0px 0px;
  font-size: 15px;
}
